@charset "UTF-8";
/*
Estilos propios de la plataforma
*/
#footer-table{

	padding-bottom: 35px;
}
#footer-table .paginator{

	text-align: right;
}

.select-content{

	border-top: 1px solid #eef1f5;
	padding-top: 20px;
}

.calendar{

}
.calendar .day {
  border: 1px solid #e9ecf3;
  height: 80px;
  padding: 7px;
  text-align: right;
}
.calendar .today {
  background-color: #f2f6f9;
  border: 1px solid #f2f6f9;
  font-size: 18px;
  padding: 7px;
  text-align: right;
}
.calendar .heading_row_start th:nth-child(2) {
  font-size: 32px;
  font-weight: 100;
  padding-bottom: 20px;
  text-align: center;
}

.calendar .heading_row_start th:nth-child(3) {
  text-align: right;
}

.calendar tbody tr:nth-child(2) {
  background: #26a1ab none repeat scroll 0 0;
  color: #fff;
  font-weight: bolder;
  text-align: center;
}

.mt-checkbox > span::after {
  border-color: #fff;
}
#EDIT-CLIENTES .mt-checkbox > span::after{

  border-color: #000;
}
.btn-event{
  margin-bottom: 6px;
  width: 100%;
  color: #fff;
  padding: 2px;
  text-align: center;
  cursor: pointer;
}

.page-header.navbar .search-form .input-group {
  border-radius: 17px;
  height: 33px;
  padding-bottom: 3px;
  padding-left: 6px;
  width: 33px;
}
.top-menu .slimScrollDiv label{
  color:#fff;
}
